html {
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    background-color: crimson;
    display: grid;
    place-items: center;
    color: white;
}

.app_videos {
    position: relative;
    height: 100vh;
    border-radius: 20px;
    max-width: 550px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

@media screen and (max-width: 768px){
    .app_videos{
        border-radius: 0;
    }
} 

/* //hide scrollbar */
.app_videos::-webkit-scrollbar{
    display: none;
}
.app_videos{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}